
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        body{
            background-image: url('../../../assets/images/background.jpg');
            background-size: 100%;
        }
        form button{
            width: 200px;
        }
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }
    </style>
</head>
<body>
<!-- LOGIN MODULE -->
<div class="login">
    <div class="wrap">
<!--        THÔNG BÁO ĐĂNG NHẬP - ĐĂNG KÍ -->
        <div class="notification">
<!--            nơi dành cho thông báo-->
            <!-- LOGIN FORM -->
            <div class="user">
                <div class="card card-container">

                    <img id="profile-img" class="profile-img-card" src="../../../assets/images/user.png" />
                    <p id="profile-name" class="profile-name-card"></p>
                    <form class="form-signin" autocomplete="off">
                        <input type="text" id="txtUsername" class="form-control" placeholder="Username" required autofocus autocomplete="none">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus autocomplete="none">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required  autocomplete="none">
                        <input type="file" class="form-control" name="file" accept="image/png,image/jpeg">

                        <div style="margin-top: 10px">
                          <button class="btn btn-lg btn-success btn-block btn-signup" type="submit">Tạo tài khoản</button>
                        </div>
                    </form><!-- /form -->
                    <a href="#" routerLink="/login" class="forgot-password">
                        Bạn đã có tài khoản, đăng nhập ngay.
                    </a>
                </div><!-- /card-container -->

            </div>
            <!-- SLIDER -->
            <div class="content">
                <!-- LOGO -->
                <div class="logo">
                    <a href="#"><img src="http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/logo.png" alt=""></a>
                </div>
                <!-- SLIDESHOW -->
                <div id="slideshow">
                    <div class="one">
                        <h2><span>NHÂN</span></h2>
                        <p>người với người đối xử với nhau trên cơ sở tình thương yêu. </p>
                    </div>
                    <div class="two">
                        <h2><span>NGHĨA</span></h2>
                        <p>chỉ làm và nên làm những việc nhằm duy trì đạo lý, lẽ phải.</p>
                    </div>
                    <div class="three">
                        <h2><span>LỄ</span></h2>
                        <p> theo quan điểm của Nho giáo, Lễ bao gồm việc thờ cúng, lễ bái thánh thần, trời Phật và cả những quy định có tính chất pháp luật, những phong tục, tập quán và kỷ luật tinh thần của cá nhân.</p>
                    </div>
                    <div class="four">
                        <h2><span>TRÍ</span></h2>
                        <p> tri thức để suy xét, hành động. Một trong những điểm quan trọng của Trí là phải nắm được mệnh trời.</p>
                    </div>
                    <div class="five">
                        <h2><span>TÍN</span></h2>
                        <p>việc làm nhất quán với lời nói, giữ lời "nhất ngôn ký xuất, tứ mã nan truy"</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>


